/* CSS reset */
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/* CSS reset */

body {
	display: grid;
	grid-template-columns: 1fr 5fr;
	grid-template-rows: 1fr 3fr;
}

.sidebar {
	background-color: #1f2937;
	color: #f9faf8;
	font-size: 22px;
	line-height: 2;
	grid-column: 1 / 2;
	grid-row: 1 / 3;
}

.sidebar h1 {
	font-size: 42px;
	text-align: center;
	padding: 0px 15px;
}

.sidebar ul {
	padding-left: 36px;
	padding-right: 36px;
}

.container {
	grid-column: 2 / 3;
	grid-row: 1 / 3;
}

.header {
	display: grid;
	grid-template-rows: 2fr 3fr;
	padding-left: 30px;
}

.header_2 {
	display: grid;
	grid-template-columns: 6fr 4fr;
	margin-bottom: 20px;
}

.header_2_left {
	display: flex;
	flex-direction: row;
	align-items: center;
	gap: 24px;
}

.header_2_left img {
	height: 96px;
	border-radius: 50%;
}

.greeting h2 {
	font-size: 36px;
	font-weight: bold;
	line-height: 1.2;
}

.greeting h5 {
	font-size: 18px;
	font-weight: bold;
	line-height: 1.2;

}

.header_2 ul {
	display: flex;
	flex-direction: row;
	justify-content: space-evenly;
	align-items: center;
}

.header_2 a {
	padding: 10px 20px;
	background-color: #1f2937;
	color: #f9faf8;
	border-radius: 50px;
	text-decoration: none;
	font-size: 18px;
}

.context {
	display: grid;
	grid-template-columns: 3fr 1fr;
	grid-template-rows: 1fr 1fr;
	gap: 30px;
	background-color: #f9faf8;
	padding: 30px;
}

.projects {
	grid-column: 1 / 2;
	grid-row: 1 / 3;
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
	gap: 30px;
	padding-top: 50px;
	position: relative;
}

.projects h3 {
	font-size: 24px;
	font-weight: bolder;
	position: absolute;
	left: 0;
	top: 0;
}

.cards {
	padding: 30px;
	border: 2px solid #1f2937;
	background-color: white;
}

.cards h4 {
	font-size: 18px;
	font-weight: bold;
}

.news {
	grid-column: 2 / 3;
	grid-row: 1 / 2;
	display: grid;
	grid-template-rows: repeat(3, 1fr);
	position: relative;
	padding-top: 50px;
}

.news h3 {
	font-size: 24px;
	font-weight: bolder;
	position: absolute;
	top: 0;
	left: 0;
}

.announcement {
	padding: 15px;
	border: 2px solid #1f2937;
	background-color: white;
}

.following {
	grid-column: 2 / 3;
	grid-row: 2 / 3;
	display: grid;
	position: relative;
	padding-top: 50px;
}

.following h3 {
	font-size: 24px;
	font-weight: bolder;
	position: absolute;
	top: 0;
	left: 0;
}

.following li {
	padding: 15px;
	border: 2px solid #1f2937;
	background-color: white;
}